
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* Empeche le scrolling horizontal */
  overflow-x: hidden; 
}

:root {
  --font-title: "tt-frantz-a", sans-serif;
  --font-body: "bahnschrift", sans-serif;
  --background-color: #3c43a1;
  --body-shadow: #101b69;
  --font-yellow: #ffcc00;
}

.darkmode {
  --font-title: "tt-frantz-a", sans-serif;
  --font-body: "bahnschrift", sans-serif;
  --background-color: #E07A5F;
  --body-shadow: #3D405B;
  --font-yellow: #f7b801;
}

body{
    background-color: var(--background-color);
  }




/* Div Principale de la navbar */
.navbar{
    background-color: var(--body-shadow);
    color: var(--font-yellow);
    padding-left: 4.6296vh;
    padding-right: 4.6296vh;
    padding-top: 0vh;
    padding-bottom: 0vh;
    box-shadow: 0vh 0.9259vh 0.463vh var(--body-shadow);
}

/* Div de la navbar qui va contenir les liens cliquables */
.divnavbar{
    /* permet de placer les elements en ligne, centrés et avec un espace entre  */
    display: flex; 
    align-items: center; 
    justify-content: space-between;
    font-family: var(--font-title);
    font-style: normal;
    font-size: 3.7037vh;
    padding-top: 0.9259vh;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4vh;
    background-color: var(--body-shadow);
}

.menu button{
    padding: 1vh;
    padding-right: 3vh;
    padding-left: 3vh;
    margin: 30px;
    font-family: var(--font-body);
    font-weight: bolder;
    font-size: large;
    background-color:var(--font-yellow);
    border-radius:3vh;
    border: none;
    transition: transform .5s ease, background-color .25s ease;
}

/* Séparateur entre la navbar et le reste de la page */
.separator{
    padding-bottom: 0.8333vh;
}


li{
    /* Retire les points de li */
    list-style: none;
    /* Fait que les li s'affichent horizontalement */
    display: inline-block;
    text-align: right;
    padding-left: 2.7778vh;  
    font-size: 6.4815vh;

}

a {
  /* Prend la couleur du texte parent */
  color: inherit;        
  text-decoration: none; 
}

a:hover {
  text-decoration: underline; 
  text-decoration-thickness: 0.2778vh;
  color: var(--font-yellow);
}

a.a-logo {
  text-decoration: none;
  font-size: 7.4074vh;
}

/* Action quand la souris est sur le logo */
a.a-logo:hover {
  /* Souligne le logo principal */
  text-decoration: underline; 
  text-decoration-thickness: 0.2778vh;
  color: var(--font-yellow);
}


.upper-title{
    display: flex;
    align-items: center;        
    /* Sépare les éléments de par et d'autres du viewport */
    justify-content: space-between; 
}

.title{
    align-items: left;
    /* Espace à gauche et à droite du titre */
    padding-left: 5%;
    padding-right: 5%;    
}

/* Scale de l'image et ajustage auto de sa hauteur */
img {
  width: 115%;
  height: auto;
}

/* Flou progressif de la peinture, de la gauche vers la droite */
.img-star{
    mask-image: linear-gradient(to left, black 80%, transparent);
}


button{
    /* Bouton au premier plan  */
    padding : 1.3889vh;
    text-align: left;
    font-family: var(--font-body);
    font-weight: bolder;
    font-size: large;
    color: #080a1f;
    background-color:var(--font-yellow);
    border-radius: 0.9259vh;
    border: none;
    transition: transform .13s ease, background-color .13s ease;
}

/* Action quand la souris est sur le bouton */
button:hover{
    /* Augmentation de son espacement */
    background-color:#e1b400; 
    border-radius: 0.9259vh;
    border: none;
    /* Augmentation de sa taille */
    transform: scale(1.05);    /* Transition smooth */
}




/* GEstion de la div sur les trending cards */
.trending-title{
    /* Aligner les sous div au centre  */
    display: flex;
    justify-content: center;
    position: relative;
    text-align: center;
    margin-top: -1.5vh;
    font-size: 15vh;
    padding-top: 5vh;
    font-family: var(--font-title);;
    text-decoration: underline;
    color: var(--font-yellow);
    background-color: var(--body-shadow);
    
}

/* Paramètres des div des cards */
.trending-cards{
  /* Espacer les div de manière égale */
  display: flex;
  justify-content: space-between;
  background-color: var(--body-shadow);
  padding-top: 5vh;
  padding-bottom: 10vh;
  padding-left: 10%;
  padding-right: 10%;

}


/* Spécifie les parametres de taille des cardes pour leur donner une forme */
.card {
  width: 33.811vh;
  height: 43.26vh;
  overflow: visible;
  perspective: 1000px; /* profondeur pour l'effet 3D */
  
}

/* Style des cards comme leur bordure et condition pour remplir l'espace qu'offre leur parent*/
.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  border: 0.5vh solid var(--font-yellow);
  border-radius: 2vh;

}

/* Rotation de la carte de 180deg quand la souris est par dessus */
.card:hover .card-inner {
  transform: rotateY(180deg);
  backface-visibility: hidden;
}

/* Parametre du text et image contenur dans la card */
.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  /* désactive la barre de défilement */
  overflow: hidden;
}

/* GEstion du remplissage des images dans la div */
.img-card {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* Spécifie le style du texte */
.card-back {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  font-family: var(--font-title);;
  font-size: 5vh;
  color: var(--font-yellow);
  text-shadow: 3px 3px 5px #000000;
}


/* Div des informations */
.informations{
  display: flex;
  /* Place les divs en colonne */
  flex-direction: column;
  /* Place les divs au centre sur l'axe x et y */
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  overflow:hidden;
  padding-bottom: 5vh;

}

/* Div contenant le texte et l'image */
.container-info{
  display: flex;
  align-items: center;
  padding-top: 10vh;
}

/* Style et parametres du texte */
.container-text{
  /* Marge extérieure */
  margin-left: 10vh;
  margin-right: 10vh;
  /* Spécifie l'espace de texte */
  width: 600px;
  height: 400px;
  color: var(--font-yellow);
  text-align: center;
  overflow: hidden;
  font-family: var(--font-title);;
  font-size: 4vh;
  /* Offre une limite au texte de 600 par 400 */
  box-sizing: border-box;
}

/* Style Texte h2 */
.container-text h2{
  color: white;
  font-family: var(--font-body);
  font-size: 2.5vh;
  word-wrap: break-word;
  padding: 1px;
}

/* Style images dans la div */
.container-img{
  /* Aligne au centre sur les axes */
  display: flex;
  justify-content: center;    
  align-items: center;             
  width: 60vh ;
  height: auto;
  margin: 20px;
  border-radius: 2vh;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* Div principale du footer */
.footer{
    /* Espace les sous div et texte au centre */
    display: flex;
    justify-content: space-between;
    position: relative;
    text-align: center;
    background-color: #0d1446;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 20%;
    padding-right: 20%;
  }


.divfooter{
  /* Aligne verticalement et centre horizontalement */
    display: flex;
    flex-direction: column; 
    align-items: center; 
}


h3{
    font-family: var(--font-title);;
    color: var(--font-yellow);     
    text-decoration: none;
    font-size: 7vh;
}

.newsletter{
  padding-bottom: 2vh;
}

/* Style Points */
.dot {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: inline-block;
}


.icons {
  display: flex;
  justify-content: center;
  /* Espace entre les ronds */
  gap: 10px; 
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  /* Coupe ce qui dépasse du cercle */
  overflow: hidden; 
}

.icon img {
  width: 128%;
  height: 128%;
  /* Garde le ratio et remplit le cercle */
  object-fit: cover; 
}

/* Input a rentrer */
.form_style {
  position: relative;
  outline: none;
  border: 2px solid #264143;
  background-color:var(--font-yellow);
  width: 290px;
  padding: 12px 10px;
  border-radius: 4px;
  font-size: 15px;
}
